body {
    background-image: url(IMG/menuconfiguracion-BG.png);
    background-position: center 0;
    background-size: cover;
}

.volver {
    position: absolute;
    left: -20px;
    top: 19px;
    width: 411px;
    height: 95px;
    z-index: 2;
  }

.herramientas {
    position: absolute;
    left: 802px;
    top: -1px;
    width: 416px;
    height: 417px;
    z-index: 20;
  }

.ic_sign {
    position: absolute;
    left: 142px;
    top: 261px;
    width: 134px;
    height: 79px;
    z-index: 22;
  }

.cc1 {
    background-image: url("cc.png");
    position: absolute;
    left: 305px;
    top: 266px;
    width: 100px;
    height: 68px;
    z-index: 23;
  }
  
  .cruz1 {
    position: absolute;
    left: 471px;
    top: 265px;
    width: 63px;
    height: 73px;
    z-index: 31;
  }  

.tilde1 {
    position: absolute;
    left: 563px;
    top: 263px;
    width: 109px;
    height: 90px;
    z-index: 30;
  }
  
.encuadre {
    background-image: url("encuadre.png");
    position: absolute;
    left: 142px;
    top: 360px;
    width: 134px;
    height: 80px;
    z-index: 26;
  }

.cc2 {
    background-image: url("cc copia.png");
    position: absolute;
    left: 306px;
    top: 366px;
    width: 100px;
    height: 68px;
    z-index: 25;
  }
  
.cruz2 {
    position: absolute;
    left: 471px;
    top: 368px;
    width: 63px;
    height: 73px;
    z-index: 31;
  } 
  
.tilde2 {
    position: absolute;
    left: 563px;
    top: 365px;
    width: 109px;
    height: 90px;
    z-index: 28;
  }
  
.audionavegacion {
    position: absolute;
    left: 677px;
    top: 476px;
    width: 186px;
    height: 282px;
    z-index: 34;
  }

.tilde3 {
    position: absolute;
    left: 1005px;
    top: 569px;
    width: 108px;
    height: 90px;
    z-index: 35;
  }
  
.cruz3 {
    position: absolute;
    left: 912px;
    top: 571px;
    width: 63px;
    height: 73px;
    z-index: 31;
  } 